<%= form_with model: [@article, @article.comments.build] do |form| %>
  <!--  <p>-->
  <!--    <%#= form.label :commenter %><br>-->
  <%#= form.text_field :commenter %>
  <!--  </p>-->
  <div class="commentBody">
    <div style="width: 100%">
        <%= form.text_field :body, placeholder:"Write a comment" %>

    </div>
    <div class="subButton">

      <%#= form.submit "submit"%>
      <%= button_tag(class: "btn btn-primary btn -lg", type: "submit", style: "background-color: #EAF4FF") do %>
        <%= image_tag "send2.png" %>
      <% end %>
      <%#= form.image %>

      <%#= link_to(image_tag("send.png", class: 'image-responsive'), root_path,  :method => :get) %>
      <%#= form.submit class:"btnWithImg" %>
    </div>
  </div>


<% end %>