<%= form_with model: article do |form| %>

  <div class="inner1">
      <%#= form.label :body %>
      <%= form.text_area :body,class:"postIn"%>

      <% article.errors.full_messages_for(:body).each do |message| %>
        <div><%= message %></div>
      <% end %>
  </div>

  <div>
    <div class="inner3">
      <p>live video</p> <p>photo/Video</p> <p>Feeling</p>
    </div>

    <div class="inner2">
      <%= form.submit "Post" ,class:"btn btn-primary" %>
    </div>
    <% end %>
  </div>

