
/*.postdev{*/
/*    position: absolute;*/
/*    width: 1041px;*/
/*    height: 376px;*/
/*    left: 188px;*/
/*    top: 314px;*/

/*    background: #FFFFFF;*/
/*    border-radius: 14px;*/
/*}*/

.outerBox{
    position: absolute;
    width: 1210px;
    height: 170px;
    left: 193px;
    top: 115px;

    background: #FFFFFF;
    border-radius: 45px;
}

.inner1 {
    position: absolute;
    width: 989px;
    height: 50px;
    left: 90px;
    top: 5px;
    border-radius: 14px;
}

.inner2{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    /*padding: 14px 55px;*/
    gap: 10px;

    position: absolute;
    /*width: 151px;*/
    /*height: 50px;*/
    left: 885px;
    top: 70px;

    /*!*background: #377DFF;*!*/
    /*border-radius: 10px;*/
}

.inner3{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 45px;

    position: absolute;
    width: 400px;
    height: 30px;
    left: 130px;
    top: 75px;
}

.postIn{
    border: 1px solid rgba(51, 51, 51, 0.3);
    border-radius: 30px;
    width: inherit;
}

.postDisplay{
    position: absolute;
    width: 1041px;
    height: 376px;
    left: 188px;
    top: 314px;

    background: #FFFFFF;
    border-radius: 14px;
}
