<nav class="topView">
  <div id="p0">
    <%=image_tag("Vector.png")%>
    <p1>  Maze</p1>

 <%#= link_to 'MAZE', new_article_path %>
<!--    </a>-->
    <input class="sreachIcon" type="text" placeholder="Sreach for something here...">
    <hr style="clear:both;"/>
  </div>
</nav>